#admin_screen{
  /*display: none;*/
  font-family: "Open Sans", sans-serif;


}

#adminPanel_btn>button{
  background: deepskyblue;
  color: black;
  border-style: none;
  margin-bottom: 5px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 20px;
  font-weight: 500;
}

#adminPanel_btn > button:hover {
  background: #000;
  color: crimson;
}

#admin_logout{
  margin: auto;
  background: red;
  font-weight: 600;
  border-style: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

#admin_logout:hover{
  background: green;
}

#CarManagePage{
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  background-size: cover;
  transform: scale(1);
  z-index: 6;
}


#CarManagePage>label{
  color: cornflowerblue;
}


#DriverManagePage{
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  background-size: cover;
  transform: scale(1);
  z-index: 6;
}


#ChangeDriver{
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  background-size: cover;
  transform: scale(1);
  z-index: 6;
}

#ReserveDetailsPage{
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  background-size: cover;
  transform: scale(0);
  z-index: 7;
}

#PaymentAddPage{
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  background-size: cover;
  transform: scale(1);
  z-index: 6;
}

#container_admin{
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

#container_admin>h1{
  text-align: center;
  margin-bottom: 30px;
}

#container_admin_table{
  margin-top: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  height: 300px;
  overflow-y: scroll;
}

.card_dash{
  box-shadow: rgba(50, 50, 93, 0.25)
  0px 50px 100px -20px, rgba(0, 0, 0, 0.3)
  0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#BookingPage{
  display: none;
}

.chooseData{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
